

<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#E1E1E1" align="center">
   <tbody><tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f9f9f9" align="center" height="30">最后更新时间</td>
        <td colspan="2" style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px; color:#F60; font-weight:bold;" bgcolor="#fbfbfb" align="center">2016/10/28 10:17:03</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f9f9f9" align="center">页面访问时间</td>
        <td colspan="2" style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" bgcolor="#fbfbfb" align="center">2016/10/28 12:01:33</td>
        </tr>
    <tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center" height="30">月份</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">订单数</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">笔单价</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">总营业额</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">买家支付运费</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">净营业额</td>
  </tr>

<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-28 （五）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;&nbsp;59 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">39.89 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2353.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">0.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2353.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-27 （四）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;411 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">41.72 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17147.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">26.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17121.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-26 （三）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;418 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">34.87 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14574.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14555.20</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-25 （二）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;570 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">34.29 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19546.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">284.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19262.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-24 （一）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;537 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">35.73 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19184.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">64.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19120.90</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-23 （<font color="red">日</font>）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;523 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">34.37 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17974.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">30.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17944.70</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-22 （<font color="red">六</font>）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;503 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">31.93 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">16059.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">103.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15956.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2016-10-21 （五）</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">&nbsp;&nbsp;535 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.00 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19258.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">175.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19083.60</td></tr>

</tbody></table>
<br>

<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#E1E1E1" align="center">
   <tbody><tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f9f9f9" align="center" height="30">最后更新时间</td>
        <td colspan="2" style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" bgcolor="#fbfbfb" align="center">2016/10/28 10:17:03</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f9f9f9" align="center">页面访问时间</td>
        <td colspan="2" style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" bgcolor="#fbfbfb" align="center">2016/10/28 12:01:33</td>
        </tr>
    <tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center" height="30">月份</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">订单数</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">笔单价</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">总营业额</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">买家支付运费</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">净营业额</td>
  </tr>

<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">0</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">32.44 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">356.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">356.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">356.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">1</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">28.72 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">430.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">430.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">430.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">3</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">16 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">28.78 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">460.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">460.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">460.40</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">5</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">27.95 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">475.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">475.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">475.20</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">6</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">20 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">35.60 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">712.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">712.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">712.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">7</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">25 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.75 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1018.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1018.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1018.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">8</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">32 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.91 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1181.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1181.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1181.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">9</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">55 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.49 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2116.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2116.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2116.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">59 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">39.89 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2353.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2353.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2353.60</td></tr>

</tbody></table>
<br>
<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#E1E1E1" align="center">
    <tbody><tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center" height="30">月份</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">订单数</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">笔单价</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">总营业额</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">买家支付运费</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">净营业额</td>
  </tr>

<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">0</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">46.88 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">890.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">890.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">890.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">1</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">26 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">47.64 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1238.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1238.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1238.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">28 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">45.29 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1268.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1268.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1268.20</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">3</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">30 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">43.26 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1297.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1297.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1297.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">4</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">31 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">42.34 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1312.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1312.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1312.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">5</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">33 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">41.90 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1382.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1382.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1382.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">6</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">34 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">45.28 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1539.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1539.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1539.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">7</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">43.19 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1641.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1641.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1641.30</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">8</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">51 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">39.32 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2005.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2005.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2005.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">9</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">72 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.38 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2907.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2907.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2907.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">91 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">42.66 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3882.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3882.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3882.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">11</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">121 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">41.25 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4990.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4990.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4990.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">12</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">153 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">42.89 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6561.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6561.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6561.70</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">13</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">183 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.22 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">7360.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">7360.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">7360.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">14</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">211 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.97 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8645.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8645.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8645.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">15</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">230 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.16 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">9236.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">9236.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">9236.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">16</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">259 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">39.97 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10351.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10351.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10351.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">17</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">278 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.70 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10759.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10759.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10759.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">18</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">294 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.11 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11204.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11204.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11204.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">19</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">306 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">37.79 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11563.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11563.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11563.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">325 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.23 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">12424.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">12424.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">12424.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">21</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">345 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.94 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13435.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13435.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13435.30</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">22</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">383 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">40.61 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15552.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15552.30</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15552.30</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">23</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">411 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">41.72 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17147.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17147.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17147.00</td></tr>

</tbody></table>

<br>
<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#E1E1E1" align="center">
    <tbody><tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center" height="30">月份</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">订单数</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">笔单价</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">总营业额</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">买家支付运费</td>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" width="16%" bgcolor="#f7f7f7" align="center">净营业额</td>
  </tr>

<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">0</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19.20 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">268.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">268.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">268.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">1</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">20.04 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">380.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">380.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">380.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">2</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">20 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">20.32 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">406.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">406.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">406.40</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">3</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">25 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19.25 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">481.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">481.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">481.20</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">4</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">26 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19.00 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">494.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">494.00</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">494.00</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">5</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">28 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">18.56 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">519.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">519.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">519.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">6</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">32 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17.84 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">570.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">570.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">570.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">7</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">43 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">27.23 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1170.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1170.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1170.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">8</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">56 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">25.90 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1450.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1450.40</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">1450.40</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">9</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">83 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">29.08 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2413.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2413.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">2413.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">117 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">31.56 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3692.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3692.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">3692.90</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">11</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">152 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">32.17 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4889.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4889.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">4889.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">12</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">192 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">33.87 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6503.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6503.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">6503.90</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">13</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">238 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">37.06 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8820.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8820.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">8820.60</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">14</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">271 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.16 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10341.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10341.20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">10341.20</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">15</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">309 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">38.18 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11797.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11797.80</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">11797.80</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">16</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">354 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">37.56 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13297.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13297.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13297.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">17</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">373 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">37.49 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13982.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13982.10</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">13982.10</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">18</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">395 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.50 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14417.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14417.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">14417.90</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">19</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">424 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.02 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15271.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15271.50</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15271.50</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">20</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">444 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">35.55 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15783.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15783.90</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">15783.90</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">21</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">477 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">35.74 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17048.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17048.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">17048.70</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">22</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">510 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.19 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">18458.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">18458.70</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">18458.70</td></tr>
<tr><td style="PADDING:5px; FONT-SIZE: 14px; height:28px; color:#666666;" bgcolor="#FFFFFF" align="center">23</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">535 单</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">36.00 元/笔</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19258.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19258.60</td>
<td style="PADDING:5px; FONT-SIZE: 14px; color:#666666;" bgcolor="#FFFFFF" align="center">19258.60</td></tr>

</tbody></table>

<br>
<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#E1E1E1" align="center">
      <tbody><tr>
        <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:38px;" bgcolor="#F9F9F9" align="left">城市天气预报
        
       

        </td>
  </tr> 
  <tr><td style="clear:both; padding:10px;" bgcolor="#FFFFFF">
  <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&amp;id=13" marginwidth="0" marginheight="0" scrolling="no" width="650" height="221" frameborder="0"></iframe>
  </td></tr>
  <!--tr>
        <td align="left" bgcolor="#F9F9F9" style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:18px;">
        UserID = 33<br>
        NickName = 陈亚军<br>
        UserGrade = 0000000001101010000110100000011100110001110110100111111110011000000000000000000000000000000000000000<br>
        ShopGroup = 2<br>
        Seller_nick = 全部店铺<br>
        Session("Seller_nick") = 晶宜家居用品旗舰店<br>
        </td>
  </tr-->
</tbody></table>
<br>
<table style="padding:0; margin:auto;" width="1200" cellspacing="1" cellpadding="1" border="0" bgcolor="#CCCCCC" align="center">
  <tbody><tr>
    <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:25px;" bgcolor="#f7f7f7" align="center" height="30">网址收藏</td>
  </tr>
  <tr>
    <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:20px;" bgcolor="#FFFFFF" align="left"><a href="http://www.qiuziti.com/">求字体网</a> | <a href="../knowledge/index.asp">客服知识库</a> | <a href="http://192.168.0.200/WS/000/店铺装修/detail/index.htm" target="_blank">详情模板研究</a>  | <a href="toAPIstr.asp" target="_blank">API生成函数</a>  | <a href="DateCounter.asp" target="_blank">日期计算器</a>  | <a href="../main/ad.asp" target="_blank">广告禁用语</a>  | <a href="../../show/index.asp" target="_blank">图片预览</a>  | <a href="../main/getcode.asp" target="_blank">产品代码</a>  | <a href="../main/CostROI.asp" target="_blank">成本计算</a>  | <a href="../main/test.asp" target="_blank">程序测试</a>  </td>
  </tr>
  <tr>
    <td style="PADDING:5px 10px; FONT-SIZE: 14px; line-height:20px;" bgcolor="#FFFFFF" align="left"><a href="http://www.nipic.com/" target="_blank">昵图网</a> | <a href="http://www.zcool.com.cn/" target="_blank">站酷ZCOOL</a> | <a href="http://www.ooopic.com" target="_blank">我图网</a> | <a href="http://www.redocn.com" target="_blank">红动中国</a> | <a href="http://www.58pic.com" target="_blank">千图网</a> | <a href="http://www.aiimg.com" target="_blank">爱图网</a> | <a href="http://www.quanjing.com/" target="_blank">全景图片</a></td>
  </tr>
</tbody></table>
